@import "../../constants/_variables.scss";

.container {
  background: $purple_gradient;
  display: flex;
  justify-content: center;

  &.large {
    width: 100%;
  }
  &.medium {
    width: 75%;
  }
  &.small {
    width: 50%;
  }
  &.tiny {
    width: 25%;
  }
  &.padding-large {
    padding: 100px 300px;
  }
  &.padding-medium {
    padding: 50px 100px;
  }
  &.padding-small {
    padding: 10px 50px;
  }
  &.padding-tiny {
    padding: 2px 10px;
  }
  &.full {
    height: 100vh;
  }
}
@media only screen and (max-width: 990px) {
  .container {
    &.padding-large {
      padding: 100px 50px;
    }
    &.padding-medium {
      padding: 50px 25px;
    }
    &.padding-small {
      padding: 25px 10px;
    }
    &.padding-tiny {
      padding: 10px 2px;
    }
  }
}


