@import "../../constants/_variables.scss";

.scroller-wrapper {
  height: 100%;

  .scroll-text {
    font-size: 1rem;
  }
  
  .scroller {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
    &.light {
      color: $white;
    }
    &.medium {
      color: $purple_medium;
    }
    &.dark {
      color: $purple_dark;
    }
    i.scroll-icon {
      font-size: 18px;
    }
  }
  &:hover{
    cursor: pointer;
  }
}
