@import "../../constants/_variables.scss";

.scroller-wrapper {
  height: 100%;
  .scroller {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.light {
      color: $white;
    }
    &.dark {
      color: $black;
    }
    i.scroll-icon {
      font-size: $h4;
    }
  }
  &:hover{
    cursor: pointer;
  }
}
