@font-face {
    font-family: lemonmilk;
    src: url(../assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: quan;
    src: url(../assets/fonts/QanelasSoftDEMO-ExtraBold.otf);
}

/* Color Variables Declaration - START */

$white: #fff;
$black: #444;
$purple_overlay: rgba(180, 180, 227, 0.8);
$purple_light: #8F8CA9;
$purple_medium: #6c6c9c;
$purple_dark: #50507f;

$purple_gradient: radial-gradient(
    circle at top left,
    rgba(80, 80, 127, 1),
    rgba(39, 39, 81, 1)
  );
$white_gradient: radial-gradient(
    circle at top left,
    #cbcbcb,
    #f7f7f7
  );

/* Color Variables Declaration - END */

/* Font Variables Declaration - START */

$theme_font: 'quan', sans-serif;
$content_font: 'Rubik', sans-serif;
$extraLarge: 70px;
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 26px;
$large: 23px;
$h5: 20px;
$h6: 19px;
$input: 18px;
$regular17: 17px;
$regular: 16px;
$regular15: 15px;
$medium: 14px;
$smallMedium: 13px;
$small: 12px;
$smaller: 10px;
$tiny: 8.5px;
$minute: 6px;
$space_large: 7px;

/* Font Variables Declaration - END */

