@font-face {
    font-family: lemonmilk;
    src: url(../assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: quan;
    src: url(../assets/fonts/QanelasSoftDEMO-ExtraBold.otf);
}

/* Color Variables Declaration - START */

$white: #f7f7f7;
$black: #444;
$purple_overlay: radial-gradient(
  circle at top left,
  rgba(80, 80, 127, 0.5),
  rgba(39, 39, 81, 0.5));
$purple_light: #8F8CA9;
$purple_medium: #6c6c9c;
$purple_dark: #50507f;

$purple_gradient: radial-gradient(
    circle at top left,
    rgba(80, 80, 127, 1),
    rgba(39, 39, 81, 1)
  );
$white_gradient: radial-gradient(
    circle at top left,
    #e8e8e8,
    #e7e7e7
  );

$shade1: rgba(0, 0, 0, 0.2);
$shade2: rgba(0, 0, 0, 0.1);
$shadow1:  0 1rem 1.2rem $shade1;

/* Color Variables Declaration - END */

/* Font Variables Declaration - START */

$theme_font: 'quan', sans-serif;
$content_font: 'Rubik', sans-serif;
$extraLarge: 70px;
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 26px;
$large: 23px;
$h5: 20px;
$h6: 19px;
$input: 18px;
$regular17: 17px;
$regular: 16px;
$regular15: 15px;
$medium: 14px;
$smallMedium: 13px;
$small: 12px;
$smaller: 10px;
$tiny: 8px;
$minute: 6px;
$space_large: 7px;

/* Font Variables Declaration - END */

