/* Color Variables Declaration - START */

$white: #fff;
$black: #000;
$primary-red: #e04732;
$dark-red-overlay: rgba(58, 0, 0, 0.9);

/* Color Variables Declaration - END */

/* Font Variables Declaration - Start */

$extraLarge: 100px;
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 26px;
$large: 23px;
$h5: 20px;
$h6: 19px;
$input: 18px;
$regular17: 17px;
$regular: 16px;
$regular15: 15px;
$medium: 14px;
$smallMedium: 13px;
$small: 12px;
$smaller: 10px;
$tiny: 8.5px;
$minute: 6px;
$space_large: 5px;

/* Font Variables Declaration - End */
