@import "../../constants/_variables.scss";

.filter-wrapper {
  position: sticky;
  top: 0;
  z-index: 6;
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    li.filter {
      list-style: none;
      padding: 10px 20px;
      text-decoration: none;
      font-size: smaller;
      letter-spacing: 1px;
      font-weight: 500;
      background: $white;
      border-radius: 4px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      span {
        color: #50507f;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
