@import "../../constants/_variables.scss";

.filter-wrapper {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0;

    li.filter {
      list-style: none;
      padding: 5px 0;
      text-decoration: none;
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 500;
      border-bottom: 1px solid transparent;
      margin: 10px 20px 10px 20px;
      
      span {
        color: #50507f;
      }
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $purple_medium;
      }
      &.active {
        border-bottom: 1px solid $purple_medium;
      }
    }
  }
}
