@import "../../constants/_variables.scss";

.filter-wrapper {
  position: sticky;
  top: 0;
  z-index: 3;

  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: white;
    margin: 0;

    li.filter {
      list-style: none;
      padding: 5px 0;
      text-decoration: none;
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 500;
      border-bottom: 1px solid transparent;
      
      span {
        color: #50507f;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $purple_medium;
        color: $white;
      }
      &.active {
        border-bottom: 1px solid $purple_medium;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .filter-wrapper {
    .filters {
      // font-size: ;
    }
  }
}
