@import "../../constants/_variables.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  right: 1rem;
  height: 6.39rem;
  z-index: 3;
  
  .menu-wrapper {
    margin: 0 auto;
    height: 100%;
  }
}
