@import "../../constants/_variables.scss";

$button-size: 40px;
$filter-header-height: 88px;

.home-screen-container {
  .intro-text {
    font-size: $h3;
    text-align: center;
  }
  .filter-container {
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
  }
  .scroll-to-top-container {
    position: fixed;
    bottom: 35px;
    right: 30px;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    z-index: 7;
    display: none;
    background-color: $purple_dark;
    box-shadow: 0 5px 10px rgba(0,0,0,0.03);

    &.active {
      display: block;
      text-shadow: $shadow1;
    }
  }
  .work-container {
    min-height: calc(100vh - #{$filter-header-height});
  }
  .footer {
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: $white;
    background-color: $purple_dark;
    padding: 2rem;
    z-index: 8;

    a.social-links {
      font-size: 1.3rem;
      color: $purple_faded;
      text-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.2);
    }
  }
}
