@import "../../constants/_variables.scss";

$button-size: 50px;

.home-screen-wrapper {
  .intro-text {
    font-size: $h3;
    text-align: center;
  }
  .scroll-to-top-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    z-index: 4;
    display: none;
    background-color: $purple_dark;
    &.active {
      display: block;
    }
  }
}