@import "../../constants/_variables.scss";

$button-size: 50px;
$filter-header-height: 88px;

.home-screen-container {
  .intro-text {
    font-size: $h3;
    text-align: center;
  }
  .filter-container {
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
  }
  .scroll-to-top-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    z-index: 7;
    display: none;
    background-color: $purple_dark;

    &.active {
      display: block;
      text-shadow: $shadow1;
    }
  }
  .work-container {
    min-height: calc(100vh - #{$filter-header-height});
  }
  .footer {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 2.5rem;
  }
}
