@import "../../../../constants/_variables.scss";

.menu-item {
  list-style: none;
  text-align: center;
  padding: 20px 50px;

  &:hover {
    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &.active {
    display: none;
  }

  a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: smaller;
    letter-spacing: 1px;
    font-weight: 500;
    background: $purple_dark;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);

    span {
      color: $white;
    }

    &.active {
      display: none;
    }
  }
}

@media only screen and (max-width: 990px) {
  .menu-item {
    padding: 20px;
    
    a {
      span {
        font-size: $tiny;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
