@import "../../constants/_variables.scss";

a {
  text-decoration: none;
}

/* Sections */
.section {
  height: 100vh;
  min-height: 500px;
  position: relative;
}

/* Containers */
.content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}
.content-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  z-index: 99;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
  pointer-events: all;
  font-family: $theme_font;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Aesthetics */
.top-section {
  background: $purple_gradient;
}

.bottom-section {
  background: $white_gradient;
}

.section h1 {
  font-size: 7em;
  font-weight: 900;
  text-align: center;
}

.content-theme-dark {
  h1 { 
    color: $purple_medium;
    text-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  }
}

.content-theme-light {
  h1 {
    color: $purple_dark;
  }
}

.content-top {
  position: absolute;
  top: 8rem;
  display: flex;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.content-bottom {
  position: absolute;
  bottom: 6rem;
  text-align: center;
  font-family: $content_font;
  font-size: 1rem;
  line-height: 3rem;
}

a.social-links {
  padding: 0.3em;
  font-size: 2em;
  color: $purple_dark;
  text-decoration: none;

  &:link, &:visited, &:focus, &:active{ 
    color: $purple_dark;
    text-decoration: none;
  }

  &:hover {
    color: $purple_light;
  }
}